<div id="links">
  <% @collections.each do |collection| %>
    <%= link_to collection["normalized_title_ssm"].first, pacscl_xml_path(id: collection["id"], format: :xml) %>
    <br/>
  <% end %>
</div>
