{
  "presets": [
    [
      "@babel/preset-env", {
        "forceAllTransforms": true,
        "useBuiltIns": 'entry',
        "corejs": 3,
        "modules": false,
        "exclude": ['transform-typeof-symbol'],
        "targets": {
          "node": 'current'
        },
        "useBuiltIns": 'entry'
      }
    ]
  ],

  "plugins": [
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    ["transform-class-properties", { "spec": true }]
  ]
}
