version: 2
jobs:
  test:
    working_directory: ~/plantain
    environment:
      CIRCLE_ARTIFACTS: /tmp/circleci-artifacts
      CIRCLE_TEST_REPORTS: /tmp/circleci-test-results
    # Primary command image where all commands run
    docker:
      - image: circleci/ruby:2.6-node-browsers
        environment:
          RAILS_ENV: test
          PLANTAIN_DB_HOST: localhost
          PLANTAIN_DB_USERNAME: plantain
          PLANTAIN_DB_PASSWORD: ""
      - image: circleci/postgres:10
        environment:
          POSTGRES_USER: plantain
          POSTGRES_DB: plantain_test
          # POSTGRES_PASSWORD: ""
          POSTGRES_HOST_AUTH_METHOD: trust
      - image: solr:8.4.1
        command: bin/solr -cloud -noprompt -f -p 8984
    steps: &test_steps
      - checkout
      - run:
          name: Install node@8.17.0 (need right version for `yarn`)
          command: |
            set +e
            touch $BASH_ENV
            curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.33.5/install.sh | bash
            echo 'export NVM_DIR="$HOME/.nvm"' >> $BASH_ENV
            echo '[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"' >> $BASH_ENV
            echo 'nvm install v8.17.0' >> $BASH_ENV
            echo 'nvm alias default v8.17.0' >> $BASH_ENV
      - run:
          name: Check current version of node
          command: node -v
      - run: mkdir -p $CIRCLE_ARTIFACTS $CIRCLE_TEST_REPORTS
      - run:
          name: Set Timezone to EST/EDT
          command: echo 'America/New_York' = /etc/timezone
      # Restore bundle cache
      - restore_cache:
          keys:
            - plantain-{{ checksum "Gemfile.lock" }}
      - run: sudo apt update && sudo apt install postgresql-client
      - run:
          name: Update bundler
          command: |
            echo 'export BUNDLER_VERSION=2.1.4' >> $BASH_ENV
            gem install bundler -v 2.1.4
      - run:
          name: Install dependencies
          command: bundle check --path=vendor/bundle || bundle install --path=vendor/bundle --jobs 4 --retry 3
      - save_cache:
          key: plantain-{{ checksum "Gemfile.lock" }}
          paths:
            - ./vendor/bundle
      - run:
          name: Install NPM Dependencies via Yarn
          command: yarn install --frozen-lockfile
      # project database settings
      - run:
          name: Wait for PostgreSQL
          command: dockerize -wait tcp://localhost:5432 -timeout 1m

      - run: bundle exec rake db:create
      - run: bundle exec rake db:migrate
      - run: bundle exec rake db:migrate RAILS_ENV=test
      # Test
      - run:
          name: Run rubocop
          command: bundle exec rake rubocop
      - run:
          name: Run Rspec
          command: bundle exec rspec
      # Save artifacts
      - store_artifacts:
          path: /tmp/circleci-artifacts
      - store_artifacts:
          path: /tmp/circleci-test-results
workflows:
  version: 2
  build_accept_deploy:
    jobs:
      - test
