@import 'modules/breadcrumbs';
@import 'modules/collection_badge';
@import 'modules/document_access_badge';
@import 'modules/document_extent_badge';
@import 'modules/print_button';

.document {

  .document-extent {
    @include document-extent-badge;
  }

  .document-access {
    @include document-access-badge;
  }

  .collection {

    &.header {
      margin-top: 0.8rem;
      margin-bottom: 0.8rem;

      .collection.title {
        display: flex;

        flex-wrap: wrap;
        flex-direction: row;

        h1 {
          font-size: 2.12rem;
          font-weight: 600;

          flex: 0 0 88.8%;
        }

        .collection-id {
          @include collection-badge;
        }

        .collection-attributes {
          display: inline-flex;
          width: 100%;

          h2 {
            padding-left: 10px;
            font-weight: 300;
            font-size: 1.85rem;
          }

          .print-finding-aid {
            @include print-button;
          }
        }
      }
    }
  }

  .nav-tabs {
    .nav-link {

      border-top: 1px solid;
      border-bottom: 1px solid;

      border-color: #dee2e6;

      border-radius: 0px;

      border-left-width: 0px;
      border-right-width: 0px;

      padding-top: 1.6rem;
      padding-bottom: 1.6rem;
    }
  }

  .content-container {
    .navbar {
      top: calc(100% - 2.62rem);

      background-color: #ffffff;
      border-top: solid 1px #7f7f7f;
      border-bottom: solid 1px #7f7f7f;
      margin-left: 2.05rem;
      margin-right: 2.05rem;
      padding-left: 0;
      padding-right: 0;

      .row {
        width: 100%;
        text-align: center;

        .col-md-4 {
          padding-left: 0;
          padding-right: 0;

          a {
            color: #7f7f7f;
            font-weight: 600;

            img {
              height: 1.6rem;
            }
          }
        }
      }
    }

    .tab-pane {
      padding-top: 1.0rem;

      &.active {
        margin-top: -2.8rem;
        padding-bottom: 4.4rem;

        .document-attributes {
          display: inline-flex;
          column-gap: 0.8rem;
        }

        .document-title {
          border-bottom: 3px solid #dee2e6;

          padding-top: 0.6rem;
          padding-bottom: 0.6rem;
          margin-top: 0.6rem;
          margin-bottom: 2.6rem;

          .lux-alert {
            display: inline-block;
            padding-top: 0.33rem;
            padding-bottom: 0.33rem;

            span {
              text-transform: uppercase;
            }
          }

          .lux-tag {
            display: inline-block;
          }
        }

        .breadcrumbs {
          @include breadcrumbs;
        }
      }
    }
  }
}
