@import 'modules/breadcrumbs';
@import 'modules/collection_badge';
@import 'modules/document_access_badge';
@import 'modules/document_extent_badge';
@import 'modules/print_button';
@import 'modules/request_cart';
@import 'modules/view_content_button';

.document {

  .document-extent {
    @include document-extent-badge;
  }

  .document-access {
    @include document-access-badge;
  }

  .online-banner {
    display: flex;
    width: 100%;
    padding-left: 15px;
  }

  .view-content {
    @include view-content-button;
    margin-bottom: 1.6rem;
  }

  .uv__overlay {
    width: 100%;
    height: 600px;
    min-width: 805px;
    iframe {
      width: 100%;
      height: 100%;
    }
    margin-bottom: 2.6rem;
  }

  .collection {

    &.header {
      margin-top: 0.8rem;
      margin-bottom: 0.8rem;

      .collection.title {
        display: flex;

        flex-wrap: wrap;
        flex-direction: row;

        h1 {
          font-size: 2.12rem;
          font-weight: 600;

          flex: 0 0 88.8%;
        }

        .collection-id {
          @include collection-badge;
        }

        .collection-attributes {
          display: inline-flex;
          width: 100%;

          h2 {
            padding-left: 10px;
            font-weight: 300;
            font-size: 1.85rem;
          }

          .print-finding-aid {
            @include print-button;
          }
        }
      }
    }
  }

  .content-navigation {
    .nav.nav-tabs {
      flex-wrap: wrap;
    }
  }

  .nav-tabs {
    .nav-link {

      border-top: 1px solid;
      border-bottom: 1px solid;

      border-color: $light-border-gray;

      border-radius: 0px;

      border-left-width: 0px;
      border-right-width: 0px;

      padding-top: 1.6rem;
      padding-bottom: 1.6rem;
    }
  }

  .tab-pane {
    padding-top: 1.0rem;
  }

  .document-attributes {
    display: inline-flex;
    column-gap: 0.4rem;
  }

  .breadcrumbs {
    @include breadcrumbs;
  }

  .document-title {
    border-bottom: 3px solid $light-border-gray;

    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    margin-top: 0.6rem;
    margin-bottom: 2.6rem;

    .lux-alert {
      display: inline-block;
      padding-top: 0.33rem;
      padding-bottom: 0.33rem;

      span {
        text-transform: uppercase;
      }
    }

    .lux-tag {
      display: inline-block;
    }
  }

  .content-container {
    .navbar {
      bottom: 0;
      background-color: $background-gray;
      border: solid 1px $light-border-gray;
      padding-left: 0;
      padding-right: 0;

      .row {
        width: 100%;
        text-align: center;

        .col-md-3, .col-md-4 {
          button {
            color: #767676;
            font-weight: 600;
            background-color: #ffffff;
            border-width: 0px;

            img {
              height: 1.6rem;
            }
          }
        }

        .col-md-4 {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }

    .tab-content {
      margin-top: 4rem;
    }

    .tab-pane {
      padding-top: 1.0rem;

      &.active {
        margin-top: -2.8rem;
        padding-bottom: 4.4rem;

        .document-attributes {
          display: inline-flex;
          column-gap: 0.4rem;
        }

        .document-title {
          border-bottom: 3px solid $light-border-gray;

          padding-top: 0.6rem;
          padding-bottom: 0.6rem;
          margin-top: 0.6rem;
          margin-bottom: 1.6rem;

          .lux-alert {
            display: inline-block;
            padding-top: 0.33rem;
            padding-bottom: 0.33rem;

            span {
              text-transform: uppercase;
            }
          }

          .lux-tag {
            display: inline-block;
          }
        }

        .breadcrumbs {
          @include breadcrumbs;
        }
      }
    }
  }
}
