
.collection-tree-block {

  &--child {
    margin-left: 2rem;
  }

  &--2 {
    margin-left: 2rem;
  }

  &--child {
    .add-to-cart-block {
      display: inline-block;
      float: right;

      button {
        background-color: #ffffff;
        border-width: 0px;

        img {
          width: 2.2rem;
        }
      }
    }
  }
}
