.header__secondary.home-header {
  background-image: image-url("firestone.png");
  h1 {
    color: white;
  }
}
.home {
  text-align: center;

  &-text {
    padding: 3.85rem;

    h2 {
      margin-bottom: 1.85rem;
    }
  }

  &-browse {
    margin-top: 0.35rem;
    margin-bottom: 1.85rem;

    .row {
      display: flex;

      .btn {
        margin-bottom: 1.35rem;
      }
    }
  }
  .home-text  {
    h2 {
      border-bottom: 1px solid black;
      padding-bottom: 0.35rem;
    }
  }
  #requests {
    @extend .col-lg-7;
  }
  #hours {
    @extend .col-lg-5;
    .hour-header {
      @extend .row;
      > div {
        @extend .col-md-12;
        > h2 {
          @extend .text-justify;
        }
      }
    }
    .hour-entry {
      @extend .row;
      border: 1px solid black;
      @extend .ml-0;
      @extend .mr-3;
      @extend .mb-3;
      > div {
        @extend .py-2;
      }
      .name {
        @extend .col-md-8;
        background-color: $gray-800;
        color: white;
      }
      .hours {
        @extend .col-md-4;
      }
    }
    #more-hours {
      @extend .text-justify;
      a {
        @extend .btn;
        @extend .btn-primary;
        @extend .mr-auto;
      }
    }
  }
}
