.header__secondary.home-header {
  position: relative;
  overflow: hidden;
  h1 {
    color: #ffffff;
    position: relative;
    z-index: 2;
    text-shadow: 2px 2px 2px $black-pul;
    text-align: center;
  }
}

.header__secondary.home-header::after {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  filter: brightness(70%);
  background-image: image-url("firestone_library_special_collections.png");
  background-position: 100% 62%;
  background-repeat: no-repeat;
  background-size: cover;
}


.home {
  text-align: center;

  &-text {
    padding: 2rem;

    h2 {
      margin-bottom: 1.85rem;
    }
  }

  &-browse {
    margin-top: 0.35rem;
    margin-bottom: 1.85rem;

    .row {
      display: flex;

      .btn {
        margin-bottom: 1.35rem;
      }
    }
  }
  .home-text  {
    h2 {
      border-bottom: 1px solid black;
      padding-bottom: 0.35rem;
    }
  }
  #requests {
    @extend .col-lg-4;
    .request-header {
      h2 {
        margin-bottom: 0;
      }
    }
    #request-contents {
    }
    #request-directions {
      @extend .text-left;
      padding-top: 1.50rem;

    #request-registration {
      @extend .text-justify;
      a {
        @extend .btn;
        @extend .btn-primary;
        @extend .mr-auto;
      }
    }
    }
  }

  #feedback-welcome {
    @extend .col-lg-4;
    .feedback-welcome-header {
      h2 {
        @extend .text-justify;
        margin-bottom: 0;
      }
    }
    #feedback-welcome-contents {
      @extend .text-left;
      padding-top: 1.50rem;
    }
  }

  #hours {
    @extend .col-lg-4;
    .hour-header {
      @extend .row;
      > div {
        @extend .col-md-12;
        > h2 {
          @extend .text-justify;
        }
      }
    }
    .hour-entry {
      @extend .row;
      border: 1px solid black;
      @extend .ml-0;
      @extend .mr-3;
      @extend .mb-3;
      > div {
        @extend .py-2;
      }
      .name {
        @extend .col-md-7;
        background-color: $dark-gray;
        color: white;
      }
      .hours {
        @extend .col-md-5;
      }
    }
    #more-hours {
      @extend .text-justify;
      a {
        @extend .btn;
        @extend .btn-primary;
        @extend .mr-auto;
      }
    }
  }
}

.ask-us-widget-float-btn {
    border: none;
    padding: 0.75em 0.75em 0.5em 0.75em;
    border-radius: 5px;
    position: relative;
    bottom: 0;
    right: 0;
    flex: 0 0 auto;
    box-shadow: 0.1em 0.2em 0.5em #ccc;
    font-size: .9em;
    background-color: #E77500 !important;
    color: #ffffff !important;
    letter-spacing: .1em;
    height: auto;
    z-index: 501;
}

.ask-us-widget-float {
    position: fixed;
    bottom: 1px;
    right: 1px;
    z-index: 1000;
    padding: 1em;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
    box-sizing: border-box;
    pointer-events: none;
}

.lux-main-menu {
    margin-bottom: 0px !important;
}

nav li.lux-has-children:nth-child(2) > button::before {
  background-image: url(data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%0A%20%20%20%20%3Cg%20fill%3D%22%23e87411%22%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M23.5%2C0h-23c-0.276%2C0%20-0.5%2C0.224%20-0.5%2C0.5v16c0%2C0.276%200.224%2C0.5%200.5%2C0.5h6.5v3.5c0%2C0.444%200.54%2C0.668%200.853%2C0.354l3.854%2C-3.854h11.793c0.276%2C0%200.5%2C-0.224%200.5%2C-0.5v-16c0%2C-0.276%20-0.224%2C-0.5%20-0.5%2C-0.5Z%22%20transform%3D%22translate%280%2C%201%29%22%3E%3C/path%3E%0A%20%20%20%20%3C/g%3E%0A%20%20%20%20%3Cpath%20fill%3D%22none%22%20d%3D%22M0%2C0h24v24h-24Z%22%3E%3C/path%3E%0A%3C/svg%3E);
  color: #e87411;
  content: "";
  display: inline-block;
  height: 18px;
  margin-right: 0.5em;
  text-decoration: none;
  vertical-align: middle;
  width: 18px;
}

.feedback-container {
  margin-top: 2em;
  margin-bottom: 2em;
}
