.header__secondary.home-header {
  position: relative;
  overflow: hidden;
  h1 {
    color: #ffffff;
    position: relative;
    z-index: 2;
    text-shadow: 2px 2px 2px $black-pul;
    text-align: center;
  }
}

.header__secondary.home-header::after {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  filter: brightness(70%);
  background-image: image-url("firestone_library_special_collections.png");
  background-position: 100% 62%;
  background-repeat: no-repeat;
  background-size: cover;
}


.home {
  text-align: center;

  &-text {
    padding: 2rem;

    h2 {
      margin-bottom: 1.85rem;
    }
  }

  &-browse {
    margin-top: 0.35rem;
    margin-bottom: 1.85rem;

    .row {
      display: flex;

      .btn {
        margin-bottom: 1.35rem;
      }
    }
  }
  .home-text  {
    h2 {
      border-bottom: 1px solid black;
      padding-bottom: 0.35rem;
    }
  }
  #requests {
    @extend .col-lg-7;
    .request-header {
      h2 {
        margin-bottom: 0;
      }
    }
    #request-contents {
      @extend .row;
      border-collapse: collapse;
    }
    #request-directions {
      @extend .col-lg-7;
      @extend .text-left;
      padding-top: 1.50rem;

    }
    #request-registration {
      @extend .col-lg-5;
      padding-right: 0;
      div {
        border-top: 1px solid black;
        width: 100%;
        height: 100%;
        @extend .row;
        @extend .align-items-center;
        @extend .justify-content-center;
        @extend .p-3;
        background-color: $light-gray;
        margin-top: -1px;
        a {
          @extend .btn;
          @extend .btn-primary;
        }
      }
    }
  }
  #hours {
    @extend .col-lg-5;
    .hour-header {
      @extend .row;
      > div {
        @extend .col-md-12;
        > h2 {
          @extend .text-justify;
        }
      }
    }
    .hour-entry {
      @extend .row;
      border: 1px solid black;
      @extend .ml-0;
      @extend .mr-3;
      @extend .mb-3;
      > div {
        @extend .py-2;
      }
      .name {
        @extend .col-md-7;
        background-color: $dark-gray;
        color: white;
      }
      .hours {
        @extend .col-md-5;
      }
    }
    #more-hours {
      @extend .text-justify;
      a {
        @extend .btn;
        @extend .btn-primary;
        @extend .mr-auto;
      }
    }
  }
}
