.document {

  .collection {

    &.header {

      margin-top: 0.8rem;
      margin-bottom: 0.8rem;

      .collection.title {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        h1 {
          font-size: 2.12rem;
          font-weight: 600;

          flex: 0 0 88.8%;
        }

        /* This should be a module */
        .collection-id {
          display: inline-flex;

          border-style: solid;
          padding: 0.2rem 0.4rem;
          font-size: 0.8rem;
          font-weight: 500;
          border-radius: 0.4rem;
          border-width: 0.2rem;
          gap: 0.4rem;
          align-items: center;

          color: #479af4;
          background-color: #f2f9fe;
          border-color: #7fbef8;

          height: 100%;
          margin-left: auto;
        }

        .collection-attributes {
          display: inline-flex;
          width: 100%;

          h2 {
            padding-left: 10px;
            font-weight: 300;
            font-size: 1.85rem;
          }

          /* This is a module */
          .print-finding-aid {
            margin-left: auto;

            img {
              height: 1.4rem;
            }

            button {
              font-size: 0.88rem;
              font-weight: 600;
              border-width: 0px;
              padding-top: 0.2rem;
              padding-bottom: 0.2rem;
              color: #55a3f4;

              img {
                margin-right: 0.2rem;
                margin-left: 0.2rem;
                height: 1.6rem;
              }

            }
          }
        }

      }
    }
  }

  .nav-tabs {
    .nav-link {

      border-top: 1px solid;
      border-bottom: 1px solid;
      border-color: #dee2e6;
      border-radius: 0px;

      border-left-width: 0px;
      border-right-width: 0px;

      padding-top: 1.6rem;
      padding-bottom: 1.6rem;
    }
  }

  .tab-pane {
    padding-top: 1.0rem;
  }

  /* Is this a module? */
  .document-attributes {
    display: inline-flex;
    column-gap: 0.8rem;
  }

  /* This is a module */
  .document-extent {
    display: inline-flex;

    border-style: solid;
    padding: 0.2rem 0.4rem;
    font-size: 0.8rem;
    font-weight: 500;
    border-radius: 0.4rem;
    border-width: 0.2rem;
    gap: 0.4rem;
    align-items: center;

    color: #479af4;
    background-color: #f2f9fe;
    border-color: #7fbef8;
    text-transform: uppercase;
  }

  /* This is a module */
  .document-access {
    display: inline-flex;

    border-style: solid;
    padding: 0.2rem 0.4rem;
    font-size: 0.8rem;
    font-weight: 500;
    border-radius: 0.4rem;
    border-width: 0.2rem;
    gap: 0.4rem;
    align-items: center;

    &.online-content {
      color: #52a34f;
      background-color: #f4fef5;
      border-color: #d7fcbe;
    }

    &.some-restricted {
      color: #f3c560;
      background-color: #fefbf2;
      border-color: #fcecbd;
    }

    &.restricted {
      color: #866f39;
      background-color: #fdf1f1;
      border-color: #f19b99;
    }

    img {
      height: 1.4rem
    }
  }

  /* This is a module */
  .breadcrumbs {
    margin-top: 0.6rem;
    margin-bottom: 2.2rem;

    span {
      display: inline;
      a {
        display: inline;
      }
    }

    .breadcrumb-item.breadcrumb-item-leaf.media {
      font-weight: 500;
    }

    .breadcrumb-item.breadcrumb-item-4.media {
      padding-left: 0px;
      padding-right: 0px;
    }

    .breadcrumb-item.breadcrumb-item-3.media {
      padding-left: 0px;
      padding-right: 0px;
    }

    .breadcrumb-item.breadcrumb-item-2.media {
      padding-left: 0px;
      padding-right: 0px;
    }

    .breadcrumb-item + .breadcrumb-item::before {
      padding-right: 0.0;
    }
  }

  .document-title {
    border-bottom: 3px solid #dee2e6;

    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    margin-top: 0.6rem;
    margin-bottom: 2.6rem;

    .lux-alert {
      display: inline-block;
      padding-top: 0.33rem;
      padding-bottom: 0.33rem;

      span {
        text-transform: uppercase;
      }
    }

    .lux-tag {
      display: inline-block;
    }
  }

  .content-container {

    .navbar {
      top: calc(100% - 2.62rem);

      background-color: #ffffff;
      border-top: solid 1px #7f7f7f;
      border-bottom: solid 1px #7f7f7f;
      margin-left: 2.05rem;
      margin-right: 2.05rem;
      padding-left: 0;
      padding-right: 0;

      .row {
        width: 100%;
        text-align: center;

        .col-md-4 {
          padding-left: 0;
          padding-right: 0;

          a {
            color: #7f7f7f;
            font-weight: 600;

            img {
              height: 1.6rem;
            }
          }
        }
      }
    }

    .tab-pane.active {
      margin-top: -2.8rem;
    }
  }
}

/* Override */
.nav.nav-tabs .nav-item .nav-link:not(.active) {
  background: inherit;
  border-color: #dee2e6;
}
