<div class="ask-us-menu-icon">
  &nbsp;
</div>
  <menu-bar type="main-menu" :menu-items="[
      {name: 'Ask Us!', component: 'AskUs', href: '/ask_us/', children: [
        {name: 'Ask A Question', component: 'AskAQuestion', href: '/ask_a_question/'},
        {name: 'Suggest a Correction', component: 'Suggest', href: '/suggest/'},
        {name: 'Report Harmful Language', component: 'Logout', href: '/report/'}
      ]}
    ]"
  ></menu-bar>
