defaults: &defaults
  external_universal_viewer_url: "https://figgy.princeton.edu/viewer"
  archivespace_url: <%= ENV["ASPACE_URL"] || "https://aspace.princeton.edu/staff/api" %>
  archivespace_user: <%= ENV["ASPACE_USER"] %>
  archivespace_password: <%= ENV["ASPACE_PASSWORD"] %>
  # aeon_url: 'https://lib-aeon.princeton.edu/aeon/Aeon.dll'
  aeon_url: 'https://princeton.aeon.atlas-sys.com/logon'
  unpublished_auth_token: <%= ENV["UNPUBLISHED_AUTH_TOKEN"] %>
  figgy_auth_token: <%= ENV["FIGGY_AUTH_TOKEN"] %>
  figgy_url: "https://figgy.princeton.edu"
  multiple_algorithms: <%= ENV["MULTIPLE_ALGORITHMS"] || false %>
  suggest_a_correction_form: 
    queue_id: <%= ENV['FINDINGAIDS_TO'] %>
  libanswers:
    client_id: <%= ENV['LIBANSWERS_CLIENT_ID'] || 'ABC' %>
    client_secret: <%= ENV['LIBANSWERS_CLIENT_SECRET'] || '12345' %>

development:
  <<: *defaults

test:
  <<: *defaults
  archivespace_url: "https://aspace.test.org/staff/api"
  archivespace_user: "test"
  archivespace_password: "secretpassword"
  unpublished_auth_token: "123456"
  figgy_auth_token: "123456"
  libanswers:
    client_id: ABC
    client_secret: '12345'
  suggest_a_correction_form: 
    queue_id: 3456

production:
  <<: *defaults

staging:
  <<: *defaults

qa:
  <<: *defaults
