<div class="overview">
  <div class="document-title">
    <h3>Collection Overview</h3>
  </div>
  <%= render(partial: 'collection_summary_overview') %>
  <%= render(partial: 'collection_summary_abstract') %>
</div>

