<div class="overview document-info">
  <% metadata = :indexed_terms_field %>
  <% doc_presenter = show_presenter(document).with_field_group(metadata) %>
  <dl>
    <% generic_document_fields(metadata).each do |field_name, field| %>
      <% if generic_should_render_field?(metadata, document, field) %>
        <%= render partial: "catalog/field", locals: { document: document, field: field, field_name: field_name, metadata: metadata, doc_presenter: doc_presenter } %>
      <% end %>
    <% end %>
  </dl>
</div>
