<div class="overview document-info">
  <% metadata = :collection_history_field %>
  <% doc_presenter = show_presenter(document).with_field_group(metadata) %>
  <dl>
    <% generic_document_fields(metadata).each do |field_name, field| %>
      <% binding.pry if field_name == "processinfo_processing_ssm" %>
      <% if generic_should_render_field?(metadata, document, field) %>
        <dt class="blacklight-<%= field_name.parameterize %>"><%= generic_render_document_field_label(metadata, document, field: field_name) %></dt>
        <dd class="blacklight-<%= field_name.parameterize %>"><%= doc_presenter.field_value field %></dd>
      <% end %>
    <% end %>
  </dl>
</div>

