<div class="collection-tree-block--child">
  <% tree.children.each do |child| %>
    <%= render(partial: 'collection_child', locals: { document: child.root }) %>
    <%= render(partial: 'collection_tree', locals: { tree: child, depth: depth + 1 }) %>
  <% end %>
</div>
