<div class="overview">
  <%= render "shared/viewer" %>
  <%= render(partial: 'collection_summary_overview') %>
  <%= render(partial: 'collection_summary_abstract') %>
  <%= render(partial: "show_child_table") %>
</div>
