<% content_for :correction_modal do %>
  <div class="modal fade" id="correctionModal" tabindex="-1" role="dialog" aria-label="Suggest a Correction" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="correctionModalTitle">Suggest a Correction</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body form-wrapper">
          <div class="suggest_a_correction_instructions">
            Please use this area to report errors, omissions, or problematic language 
            that appear in the description of this collection. Corrections may include
            misspellings, incorrect or missing dates, misidentified individuals, places,
            or events, mislabeled folders, misfiled papers, etc.
          </div>
          <%= render partial: "correction_form", locals: { form: SuggestACorrectionForm.new(location_code: @document.fetch("repository_code_ssm", []).first, context: request.original_url) } %>
        </div>
      </div>
    </div>
  </div>
<% end %>
