<div class="feedback-welcome-header">
  <div>
    <h2>Feedback Welcome</h2>
  </div>
</div>
<div id="feedback-welcome-contents">
  <p>PUL welcomes your feedback on the description of its archival collections. Please use the Suggest a Correction button found on every page of this site to report errors or omissions as well as <a href="/archival_language">harmful or offensive language</a> that you encounter.</p>
</div>
