<% content_for :harmful_language_modal do %>
  <div class="modal fade" id="harmfulLanguageModal" tabindex="-1" role="dialog" aria-label="Report Harmful Language" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="harmfulLanguageModalTitle">Report Harmful Language or Content Form</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body form-wrapper">
          <div class="suggest_a_correction_instructions">
          <p>
            Princeton University Library aims to describe archival materials in
            a manner that is respectful to the individuals and communities who
            create, use, and are represented in the collections we manage.
            However, for a variety of reasons, users may encounter offensive or
            harmful language, for example, language that is racist, sexist, or
            homophobic, in our finding aids. You may also encounter
            <%= link_to "harmful content", "https://library.princeton.edu/statement-harmful-content" %>
            in the paper and digital records within archival collections.
          </p>
          <p>
            Staff are currently implementing practices to address offensive or
            harmful language and harmful content as part of routine description work. We recognize
            that terminology evolves over time and that efforts to create respectful
            and inclusive description must be ongoing. You can help us address
            this issue by reporting any <%= link_to "harmful or offensive
            language", "/archival_language" %> you
            encounter on this site by using the form below. If you would prefer to
            report this anonymously, you may leave the name and email fields blank.
          </p>
          </div>
          <%= render partial: "report_harmful_language_form", locals: { form: ReportHarmfulLanguageForm.new(location_code: "Harmful Language Report", context: request.original_url) } %>
        </div>
      </div>
    </div>
  </div>
<% end %>
