<div class="container-fluid home">
  <section class="home-text padding">
    <div class="row">
      <div id="hours">
        <%= render "hours" %>
      </div>
      <div id="requests">
        <%= render "requests" %>
      </div>
      <div id="feedback-welcome">
        <%= render "feedback_welcome" %>
      </div>
    </div>
  </section>

  <div class="container-fluid spacer"></div>
</div>
