
<div class="col-md-12">
    <section class="home-text">
      <p>Use this site to explore descriptions of our unique holdings at the Princeton University Libraries, which include manuscripts, archival collections, images, ephemera, and much more one-of-a-kind material.</p>
    </section>

    <section class="home-browse">
      <div class="grid-items">
        <div class="grid-item">
          <h1>Topics</h1>
          <p>This is a great place to start if you would like to know what we have in a given subject area. We have broken down our collection strengths based on topic.</p>
	  <a href="#" class="btn btn-primary">Browse Topics</a>
        </div>

	<div class="grid-item">
          <h1>Names</h1>
          <p>Doing research on a particular person or organization? Click here for historical information and links to collections about individuals, families and corporate bodies.</p>
	  <a href="#" class="btn btn-primary">Browse Names</a>
	</div>

	<div class="grid-item">
          <h1>Collections</h1>
          <p>The library is composed of many different sets of archives and collections. This is the list of every collection we have described in finding aids.</p>
	  <a href="#" class="btn btn-primary">Browse Collections</a>
	</div>
      </div>
    </section>
</div>
