<div class="container-fluid home">
  <section class="home-text padding">
    <div class="row">
      <div class="col-md-5">
        <h2 class="text-justify">Location and Today's Hours</h2>
      </div>
      <div class="col-md-7">
        <h2 class="text-justify">Request Materials</h2>
      </div>
    </div>
  </section>

  <div class="container-fluid spacer"></div>

</div>
