<div class="container-fluid home">
  <section class="home-text padding">
    <h2>Princeton University Library Finding Aids</h2>
    <p class="lead">Use this site to explore descriptions of our unique holdings at the Princeton University Libraries, which include manuscripts, archival collections, images, ephemera, and much more one-of-a-kind material.</p>
  </section>

  <div class="container-fluid spacer"></div>

  <section class="home-browse">
    <div class="row">
      <div class="col topics">
        <a href="#" class="btn btn-lg btn-primary">Browse Topics</a>
        <p class="lead">This is a great place to start if you would like to know what we have in a given subject area. We have broken down our collection strengths based on topic.</p>
      </div>

      <div class="col names">
        <a href="#" class="btn btn-lg btn-primary">Browse Names</a>
        <p class="lead">Doing research on a particular person or organization? Click here for historical information and links to collections about individuals, families and corporate bodies.</p>
      </div>

      <div class="col collections">
        <a href="#" class="btn btn-lg btn-primary">Browse Collections</a>
        <p class="lead">The library is composed of many different sets of archives and collections. This is the list of every collection we have described in finding aids.</p>
      </div>
    </div>
  </section>
</div>
