<div class="hour-header">
  <div>
    <h2>Location and Today's Hours</h2>
  </div>
</div>
<div class="hour-entry">
  <div class="name">
    Firestone Special Collections
  </div>
  <div class="hours">
    9AM - 5PM
  </div>
</div>
<div class="hour-entry">
  <div class="name">
    Mudd Manuscript Library
  </div>
  <div class="hours">
    9AM - 5PM
  </div>
</div>
<div id="more-hours">
  <%= link_to "More Hours", "#" %>
</div>
