<div class="row">
  <div class="col-md-12">
    <h2 class="text-justify">Location and Today's Hours</h2>
  </div>
</div>
<div class="row hour-entry">
  <div class="col-md-9 name">
    Firestone Special Collections
  </div>
  <div class="col-md-3 hours">
    9AM - 5PM
  </div>
</div>
