
<div class="lux print-finding-aid">
  <input-button type="button" variation="outline"><span class="icon-printer" aria-hidden="true" />
    <%= image_tag(asset_path('icon-printer.svg')) %>
    <span>Print Finding Aid</span>
  </input-button>
</div>
