<div class="request-header">
  <div>
    <h2 class="text-justify">Request Materials</h2>
  </div>
</div>
<div id="request-contents">
  <div id="request-directions">
    <p>All researchers are welcome to visit Special Collections.</p>
    <p>
    In order to request and view materials, all researchers must create a Special Collections Research Account.
    </p>
    <p>
    Need help? Visit our <%= link_to "Research Account Help Center", research_help_path %>
    </p>
    <div id="request-registration">
      <%= link_to "Create a Research Account", "https://library.princeton.edu/aeon/aeon.dll", target: "_blank" %>
    </div>
  </div>
</div>
