<div class="request-header">
  <div>
    <h2 class="text-justify">Request Materials</h2>
  </div>
</div>
<div id="request-contents">
  <div id="request-directions">
    <p>Directions to Request Materials</p>
    <p>State who's eligible...</p>
    <p>
    In order to request and view materials, all researchers are required to create research accounts, following the directions from our Research Account Help Center.
    </p>
  </div>
  <div id="request-registration">
    <div>
      <%= link_to "Create a Research Account", "#" %>
    </div>
  </div>
</div>
