    <% if document.restricted? %>
      <div class="document-access restricted">
        <span class="media-body al-restricted-icon" aria-hidden="true"><%= blacklight_icon :"icon-restricted" %></span> Restricted Content
      </div>
    <% elsif document.some_restricted? %>
      <div class="document-access some-restricted">
        <span class="media-body al-some-restricted-icon" aria-hidden="true"><%= blacklight_icon :"icon-some-restricted" %></span> Some Restricted Content
      </div>
    <% end %>
