<div class="responsible-collection-description-header">
  <div>
    <h2>Statement on Responsible Collection Description</h2>
  </div>
</div>
<div id="responsible-collection-description-contents">
  <p>Princeton University Library (PUL) stewards diverse historical and contemporary collections that document a wide range of human experiences. As an academic and cultural heritage institution, we preserve materials in their original form to maintain historical accuracy and support scholarly research. This includes retaining content that may reflect perspectives which some users may find oﬀensive or otherwise problematic. <a href="https://library.princeton.edu/about/responsible-collection-description">Read more</a></p>
</div>
