    <%# locals: (with_link: true, document: ) %>

    <% if document.restricted? %>
      <div class="document-access restricted">
        <span class="media-body al-restricted-icon" aria-hidden="true"><%= blacklight_icon :"icon-restricted" %></span> Restricted Content
      </div>
    <% elsif document.review? %>
      <div class="document-access review">
        <span class="media-body al-review-icon" aria-hidden="true">
          <%= blacklight_icon :"icon-review" %>
          </span>
          <% if with_link %> 
            <%= link_to("Restrictions may apply. See Access Note.", "#access" ) %> 
          <% else %>
              Restrictions may apply. See Access Note.
          <% end  %>
      </div>
    <% end %>
