<%- # If we have a combined field with headings, use it. %>
<% if field_name == "accessrestrict_ssm" %>
  <% document.field_with_headings(field_name).each do |field_key, field_value| %>
    <!-- Get visible text, strip html tags -->
    <% visible_text = strip_tags(field_value.join(" ")) %>
    <% if visible_text.length <= 300 %>
      <!-- render full notice with html/link -->
      <%= paragraph_separator(value: field_value.map(&:html_safe))%>
    <% else %>
      <!-- render text with no html; modal has full text and link -->
      <%= truncate(visible_text, length: 300) %>
      <br/>
      <button id="restrictionsModal-trigger-link" type="button" class="btn btn-link" data-toggle="modal" data-target="#restrictionsModal">
        Read full Conditions Governing Access
      </button>

      <% content_for :modals do %>
      <!-- Restrictions Modal -->
        <div class="modal fade" id="restrictionsModal" tabindex="-1"
          aria-labelledby="restrictionsModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel"><%= field_key %></h1>
                <button type="button" class="btn-link close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%= paragraph_separator(value: field_value.map(&:html_safe))%>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
