
<div class='d-md-flex justify-content-between al-show collection header'>
  <nav aria-label="collection header">
    <div class="row">

      <div class="col-md-2">
        <%= repository_thumbnail %>
      </div>

      <div class="col-md-10">
        <%= render(partial: 'show_collection_title', locals: { document: document.collection_document }) %>
      </div>

    </div>
  </nav>
</div>
