<% if blacklight_config.show.component_metadata_partials.present? %>
  <% parents = Arclight::Parents.from_solr_document(document).as_parents %>

  <% if document.restricted? %>
    <div class="alert alert-danger" role="alert">
      <h3 class="alert-heading">Access Restrictions</h3>

      <% blacklight_config.show.component_metadata_partials.each do |metadata| %>
        <% doc_presenter = document_presenter(document).with_field_group(metadata) %>
        <% generic_document_fields(metadata).each do |field_name, field| %>
          <% if generic_should_render_field?(metadata, document, field) %>
            <%= render partial: "catalog/restriction_warning", locals: { document: document, field: field, field_name: field_name, metadata: metadata, doc_presenter: doc_presenter } %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <dl class="al-metadata-section breadcrumb-item breadcrumb-item-<%= parents.length + 3 %>">

    <% blacklight_config.show.component_metadata_partials.each do |metadata| %>
      <% doc_presenter = document_presenter(document).with_field_group(metadata) %>
      <% generic_document_fields(metadata).each do |field_name, field| %>
        <% if generic_should_render_field?(metadata, document, field) %>
          <%= render partial: "catalog/field", locals: { document: document, field: field, field_name: field_name, metadata: metadata, doc_presenter: doc_presenter } %>
        <% end %>
      <% end %>
    <% end %>
  </dl>
<% end %>
