
<div class="lux access-levels">
  <div class="document-access online-content">
    <%= image_tag(asset_path('icon-online-content.svg')) %>
    <span>Has Online Content</span>
  </div>

  <div class="document-access some-restricted">
    <%= image_tag(asset_path('icon-some-restricted.svg')) %>
    <span>Some Restricted Content</span>
  </div>

</div>
