<ul class="lux-tabs-container" role="tablist" aria-label="Collection Notes">
  <li id="summary-tab" class="lux-tabs-item" role='tab'>
    <a class='nav-link' href='#summary'>
      Collection Overview
    </a>
  </li>
  <li id="description-tab" class="lux-tabs-item" role='tab'>
    <a class='nav-link' href='#description'>
    Collection Description & Creator Information
    </a>
  </li>
  <li id="access-tab" class="lux-tabs-item" role='tab'>
    <a class='nav-link' href='#access'>
      <%= t 'arclight.views.show.access' %>
    </a>
  </li>
  <li id="collection-history-tab" class="lux-tabs-item" role='tab'>
    <a class='nav-link ' href='#collection-history'>
      Collection History
    </a>
  </li>
  <li id="find-more-tab" class="lux-tabs-item" role='tab'>
    <a class='nav-link ' data-toggle='tab' href='#find-more'>
      Find Related Materials
    </a>
  </li>
</ul>
