<% parents = Arclight::Parents.from_solr_document(document).as_parents %>

<div class='row'>
  <div class='col-md-12'>

    <!-- The content tab navigation -->
    <!-- Tabs -->
    <!-- Tabs -->
    <%= render(partial: 'show_tabs') %>

    <div class="row content-container">
      <div class="col-md-4">
        <div class="toc-header">
          <div class="toc-header-text">
            <span class="text-uppercase">Contents and Arrangement</span>
            <a class="toc-header__expand-button" href="?expanded=true" >
              <%= image_tag(asset_path('icon-expand-alt-solid.svg'), class: 'expand-collection-icon', "aria-label": "expand the collection view") %>
              <span>Expanded View</span>
            </a>
          </div>
          <div class="toc-toggle">
            <a data-toggle="collapse" href="#toc" role="button">
              <span class="sr-only">Toggle</span>
              <span class="toggle-icon"></span>
            </a>
          </div>
        </div>
        <div id="toc" data-turbolinks-permanent class="collapse show"></div>
        <div id="toc-data" data-selected="<%= document.id %>"></div>
      </div>

      <div class="col-md-8">
        <%= render(partial: 'show_tab_panes') %>
      </div><!-- .col-md-8 -->
    </div><!-- .row.content-container -->
  </div>
</div>
