<% parents = Arclight::Parents.from_solr_document(document).as_parents %>

<div class='row'>
  <div class='col-md-12'>
    <!-- Tabs -->
    <%= render(partial: 'show_tabs') %>

    <!-- Contents and Arrangement -->
    <div class="row content-container">
      <div class="col-md-4">
        <div class="toc-header">
          <span>CONTENTS AND ARRANGEMENT</span>
        </div>
        <div id="toc" data-turbolinks-permanent></div>
        <div id="toc-data" data-selected="<%= document.id %>"></div>
      </div>

      <div class="col-md-8">
        <%= render(partial: 'show_tab_panes') %>
      </div><!-- .col-md-8 -->

    </div><!-- .row.content-container -->
  </div>
</div>
