<div class="lux">
  <!-- if components array is empty, don't render -->
  <% unless ChildTableBuilder.new(document.id).to_a.empty? %>
    <child-table
      :components="<%= JSON.generate(ChildTableBuilder.new(document.id).to_a) %>"
      :parent-title="<%= JSON.generate(document.title.to_sentence) %>"
    />
  <% end %>
</div>
