<div class="table-of-contents">
  <nav id="menu">
    <ul>
      <%= render partial: "catalog/table_of_contents_node", collection: tree, as: :parent_node, locals: { document: document } %>
    </ul>
  </nav>
</div>
