<div id="document-minimal-<%= document.id %>">
  <!-- Implement the unstyled HTML here for the AJAX response -->
  <% document.attributes.each_pair do |field, value| %>
    <span class="field-name"><%= field %></span>
    <span class="field-value"><%= value %></span>
  <% end %>
</div>
