<div class='container'>
  <div class='record-not-found pt-lg-5'>
    <h2>The page you were looking for doesn't exist.</h2>
    <p>You may have mistyped the address or provided an invalid Object ID (<%= params[:id] %>)</p>
  </div>
</div>
