@mixin document-access-badge {
  display: inline-flex;

  border-style: solid;
  padding: 0.2rem 0.4rem;
  font-size: 0.8rem;
  font-weight: 500;
  // border-radius: 0.4rem;
  // border-width: 0.2rem;
  gap: 0.4rem;
  align-items: center;

  &.online-indirect-content {
    height: 100%;
    color: white;
    background-image: image-url("online-access-bg.png");
    border: 0;
    & svg {
      fill: white;
    }
  }

  &.online-indirect-content {
    height: 100%;
    color: white;
    background-image: image-url("online-access-bg.png");
    border: 0;
    position: relative;
    overflow: hidden;
    & svg {
      fill: white;
    }
  }

  &.some-restricted {
    color: #f3c560;
    background-color: #fefbf2;
    border-color: #fcecbd;
  }

  &.restricted {
    color: #866f39;
    background-color: #fdf1f1;
    border-color: #f19b99;
  }

  img {
    height: 1.4rem
  }

}

.banner-content {
  flex-grow: 1;
  background-color: #edf6ee;
  position: relative;
  overflow: hidden;
}

.slant {
  width: 62px;
  background-image: image-url("slant.png");
}

// .banner-content:before {
//   height: 100%;
//   width: 100%;
//   background-color: #b3dbb7;
//   position: absolute;
//   content: "";
//   transform: rotate(45deg) translate(20px, 375px);
//   transform-origin: top right;
// }
