.aeon-request-block {
  top: calc(100% - 2.62rem);

  background-color: #ffffff;
  border-top: solid 1px #7f7f7f;
  border-bottom: solid 1px #7f7f7f;

  &--disabled {
    display: none;
  }

  margin-left: 2.05rem;
  margin-right: 2.05rem;
  padding-left: 0;
  padding-right: 0;

  .row {
    width: 100%;
    text-align: center;

    .col-md-4 {
      padding-left: 0;
      padding-right: 0;

      button {
        color: #7f7f7f;
        font-weight: 600;
        background-color: #ffffff;
        border-width: 0px;

        img {
          height: 1.6rem;
        }
      }
    }
  }
}
