@mixin request-cart {
  /*
  position: fixed;

  z-index: 2020;
  display: block;
  */

  /* Disabled
  top: 0%;
  height: 100%;
  */

  /*
  top: 20%;
  height: 80%;

  right: 0;

  background-color: #ffffff;
  border: 1px solid #8f8f8f;

  width: 38%;
  */
}
