@import "variables/colors";

.btn-primary {
  color: $white;
  background-color: $blue;
  border-color: $blue;

  &:hover {
    background-color: $st-tropaz;
    border-color: $dark-st-tropaz;
  }

  &:not(:disabled):not(.disabled):active {
    background-color: $dark-st-tropaz;
    border-color: $bay-of-many;
  }
}

#readingroom {
  border-radius: 15px;
  background: #fee7ba;
  padding: 20px;
  width: 90%;
}

#readingroom button {
  display: block;
  margin-top: 20px;
}
