@import "variables/colors";

.btn-primary {
  color: $white;
  background-color: $blue;
  border-color: $blue;

  &:hover {
    background-color: $st-tropaz;
    border-color: $dark-st-tropaz;
  }

  &:not(:disabled):not(.disabled):active {
    background-color: $dark-st-tropaz;
    border-color: $bay-of-many;
  }
}

#readingroom p button {
  display: block;
  margin-top: 20px;
  background-color: #f6f6f6;
}

.sticky-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.sticky-button span {
  text-align: left;
  margin-left: 5px;
  font-weight: bold;
}

.sticky-button .lux-icon {
  align-self: normal;
}

.sticky-top {
  flex-wrap: nowrap;
}

.sticky-top > div {
  align-self: start;
}

@media only screen and (max-width: 960px) {
  .sticky-top {
    flex-direction: column;
  }
}
