// Research help container div
.research-help-main {
  padding: 1.8rem 8rem;
}

.research-help-main h2 {
  margin-bottom: 1.8rem;
}

.research-help-main h3 {
  margin-top: 1.8rem;
}

.research-help-main ul {
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
}
