// Show page collection title
.collection.title {
  a {
    color: black;
  }

  .collection-attributes {
    padding-left: 15px;
  }

  .col {
    display: block;
  }
}

// Descriptive Metadata
.blacklight-collection_bioghist_ssm {
  .personal-name {
    font-weight: 200;
  }
}
