#toc {
  a {
    background-color: $light;
    padding: 8px;
    width: calc(100% - 24px); // Full width minus .jstree-icon width
    &.jstree-clicked {
      background-color: $hawkes-blue;
    }
    &:hover {
      background-color: $foam;
    }

    // Ensures that table of contents leaf nodes wrap correctly
    white-space: normal !important;
    height: auto;
  }

  li {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.toc-header {
  background-color: $botticelli;
  font-weight: 500;
  margin-top: 5px;
  padding: 15px 0 15px 10px;
}
