#toc {
  margin-bottom: 20px;
  max-height: 800px;
  overflow-y: scroll;
  i {
    &:focus {
      background-color: $foam;
    }
  }
  a {
    background-color: $light;
    padding: 8px;
    width: calc(100% - 24px); // Full width minus .jstree-icon width
    &.jstree-clicked {
      background-color: $hawkes-blue;
    }
    &:hover {
      background-color: $foam;
    }
    &:focus {
      background-color: $foam;
    }

    // Ensures that table of contents leaf nodes wrap correctly
    white-space: normal !important;
    height: auto;
  }

  li {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.toc-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $botticelli;
  font-weight: 500;
  margin-top: 20px;
  padding: 15px 10px;

  .toc-toggle {
    font-size: 1rem;

    .toggle-icon::after{
      content: "❯";
      float: right;
      margin-right: 0.2rem;
      transform: rotate(270deg);
      transition: transform 0.1s ease;
    }

    .collapsed .toggle-icon::after{
      transform: rotate(90deg);
      transition: transform 0.1s ease;
    }
  }
}
