<div class="research-help-main">
  <h2>Research Help</h2>
  <div class="accordion" id="researchHelpAccordion">
    <div class="card">
      <div class="card-header" id="accountInformationLabel">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#accountInformationBody" aria-expanded="false" aria-controls="accountInformationBody">
            Account Information
          </button>
        </h2>
      </div>

      <div id="accountInformationBody" class="collapse" aria-labelledby="accountInformationLabel" data-parent="#researchHelpAccordion">
        <div class="card-body">
          <h4>Creating a Research Account</h4>
          <p>Researchers planning to visit Special Collections either in person or to use the virtual services should create a <a href="https://library.princeton.edu/aeon/">Special Collections Research</a> Account in order to access materials. With an Account, you can request materials and staff will be able to help you access these when you’re ready.</p>

          <p>Those affiliated with Princeton University (i.e. current students, staff, and faculty with an active NetID) should use the left-side form.</p>

          <p>Those not affiliated with Princeton University (i.e. Princeton alumni and independent researchers) should use the right-side form. If it is your first time registering, please choose the “First Time Users” link.</p>

          <p>All researchers will be asked to accept the departmental guidelines on using archival materials. After submitting the registration information, researchers will then be able to submit requests to view materials.</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="searchTipsLabel">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#searchTipsBody" aria-expanded="false" aria-controls="searchTipsBody">
            Search Tips
          </button>
        </h2>
      </div>
      <div id="searchTipsBody" class="collapse" aria-labelledby="searchTipsLabel" data-parent="#researchHelpAccordion">
        <div class="card-body">
          <h4>Effective Searching</h4>
          <p>When searching, it’s good to keep a few things in mind:</p>
          <ol>
            <li><strong>Try lots of different terms.</strong> “Sylvia Beach letters” will produce different results than “Sylvia Beach correspondence,” “Beach,” “Beach, Sylvia” and so on.</li>
            <li><strong>The more words you use in your search, the fewer results will come back to you.</strong> “Woodrow Wilson” will produce fewer results than “Wilson”, but not all of the Wilsons that are produced may be about Woodrow.</li>
            <li><strong>Using a minus sign (-) will exclude a term from results.</strong> If you’re interested in Ray Stannard Baker, but you keep getting results for James A. Baker III, a good search might be “Ray Baker -James”.</li>
            <li><strong>Consider the time period of your language.</strong> Words and definitions of words change overtime and it’s important to consider which terms to search for. Staff don’t change the titles of folders or boxes, but instead mark down exactly what they state. Be thoughtful and creative when crafting your list of search terms to make sure you’re gathering records from all time periods.</li>
          </ol>

          <h4>Narrowing Search Results</h4>
          <p>There are two ways of narrowing search results on this site.</p>
          <ol>
          <li>More search terms will result in fewer results. Notice that the original search term is already in the box — simply add more terms to get more precise results. If you know that there’s a term that you definitely don’t want to see results for, just put a minus sign ( – ) in front of it. For instance, if you were interested in the history of women at Princeton, but you didn’t want results related to coeducation, simply enter “women Princeton -coeducation”.</li>
          <li>Use the filters on the left of the screen to narrow down your results! Are you only interested in items from the University Archives? Make sure that is highlighted from the “Repositories” filter. Would you only like to see items that are digital and available to view remotely? Choose “Online Access”!</li>
          </ol>

          <h4>Advanced tips</h4>
          <p>Archival collections are organized by who collected the materials, not what the materials are about. You may be pleasantly surprised by searching outside of the collections that you think an item should be in. Results in the “name,” “genre,” and “subject” facets can be thought of as tags — if an item has been tagged with any of the terms in the list, it will appear in the revised results. But some relevant results may not have been tagged — narrowing this way may result in missing good material!</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="requestingMaterialsLabel">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#requestingMaterialsBody" aria-expanded="false" aria-controls="requestingMaterialsBody">
            Requesting Materials
          </button>
        </h2>
      </div>
      <div id="requestingMaterialsBody" class="collapse" aria-labelledby="requestingMaterialsLabel" data-parent="#researchHelpAccordion">
        <div class="card-body">
          <p>After registering, researchers can submit requests online to view special collections material in the reading rooms. Books and other printed works are primarily found in the library Main Catalog. Manuscripts and archives are primarily cataloged in the Finding Aids.</p>

          <p>In the finding aids, navigate the records until you locate one that interests you. You can choose one or more item depending on the page you’re on by clicking the “Request this Item” button next to the shopping cart icon. The icon is also in the collection level list on the left-side of the page. When you are completely finished with your searches, you can then choose the “Submit Requests” in the “Requests” pop-up box.</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="statementArchivalLanguageLabel">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#statementArchivalLanguageBody" aria-expanded="false" aria-controls="statementArchivalLanguageBody">
            Statement on Archival Language
          </button>
        </h2>
      </div>
      <div id="statementArchivalLanguageBody" class="collapse" aria-labelledby="statementArchivalLanguageLabel" data-parent="#researchHelpAccordion">
        <div class="card-body">
          <p>Princeton University Library aims to describe archival materials in a manner that is respectful to the individuals and communities who create, use, and are represented in the collections we manage. However, for a variety of reasons, users may encounter offensive or harmful language, for example, language that is racist, sexist, or homophobic, in our finding aids. While some descriptions in our finding aids are written by staff, others reflect language that was used by the people and organizations that created the material (folder titles are a common example; it is standard practice not to change them when present). When we encounter problematic language that we believe an archivist created, we update it. Language that comes from the original archival material can provide information about the people who created it. In such cases, the work of the archivist is to provide additional context.</p>

          <p>Staff are currently implementing practices to address offensive or harmful language as part of routine description work. In addition, we encourage users to provide feedback to help us tackle this issue. We recognize that terminology evolves over time and that efforts to create respectful and inclusive description must be ongoing.</p>

          <p>Please contact us if you encounter problematic description by notifying reading room staff or clicking the “Suggest a Correction” button from any page on this site. Staff will review the description and update it in a way that balances the preservation of original context with an awareness of the effect of language on our users. Revisions may include providing additional context and/or replacing problematic terminology. We welcome your feedback.</p>

          <p>Additional Resources</p>
          <ul>
            <li>Archives for Black Lives in Philadelphia Anti-Racist Description Working Group. “<a href="https://archivesforblacklives.files.wordpress.com/2019/10/ardr_final.pdf">Anti-Racist Description Resources</a>.” Archives for Black Lives in Philadelphia. October 2019.</li>
            <li>Michelle Caswell, “<a href="https://www.journals.uchicago.edu/doi/full/10.1086/692299">Teaching to Dismantle White Supremacy in Archives</a>,” The Library Quarterly: Information, Community, Policy 87, no. 3, July 2017.</li>
            <li>Society of American Archivists. “<a href="https://github.com/saa-ts-dacs/dacs/blob/master/04_statement_of_principles.md">Statement of Principles</a>” Describing Archives: A Content Standard (DACS).</li>
            <li>Temple University Libraries. “<a href="https://library.temple.edu/policies/14">SCRC Statement on Potentially Harmful Language in Archival Description and Cataloging”</a>.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="statementAvMaterialsLabel">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#statementAvMaterialsBody" aria-expanded="false" aria-controls="statementAvMaterialsBody">
            Statement on AV Materials
          </button>
        </h2>
      </div>
      <div id="statementAvMaterialsBody" class="collapse" aria-labelledby="statementAvMaterialsLabel" data-parent="#researchHelpAccordion">
        <div class="card-body">
          <p>The Seeley G. Mudd Manuscript Library holds a wide range of audiovisual media within its collections, many of which are obsolete or on fragile media or both. To ensure that the information contained within these materials remains accessible, no original media are played for research purposes. Mudd’s policy requires that originals be dubbed to a digital medium, checked for copyright at that point a reference copy may be provided to researchers. All costs of transferring are borne by the researcher. Princeton University’s Media Services handles most of our digitization for audiovisual materials, which is processed by Mudd Library staff. Media Services may require up to 6 weeks to complete a request and this does not include the 1-2 days that Mudd Library staff require to locate, deliver, retrieve, and send requests. For material that Media Services cannot transfer an appropriate vendor will be contacted but the transfer time required can be as little as several days to as long as several months, with costs of upwards of hundreds of dollars per item required for many of these formats. In a very few instances, the library may already have a dub copy available, saving both time and costs.</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="FaqLabel">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#FaqBody" aria-expanded="false" aria-controls="FaqBody">
            Frequently Asked Questions (FAQ)
          </button>
        </h2>
      </div>
      <div id="FaqBody" class="collapse" aria-labelledby="FaqLabel" data-parent="#researchHelpAccordion">
        <div class="card-body">
          <h4>Registration</h4>
          <p><strong>Do I need to create an account if I already have a Princeton Tiger ID card?</strong> Yes, all researchers need to register so that they may submit page requests online. However, Princeton University faculty, students, and staff with an active Princeton NetId and Princeton ID card do not need to visit the Access Office to obtain a Special Collections Researcher ID card.</p>
          <p><strong>Do I need to visit the Access Office before using the collections?</strong> Current Princeton University students, staff, and faculty (those with an active Princeton NetId and Princeton Tiger ID card) do not need to visit the Access Office. New researchers not affiliated with Princeton University will need to visit the Access Office to obtain a special collections photo ID card for access to the reading rooms. The Access Office is located in the Main Lobby of the Firestone Library (# 5 on map). Returning researchers not affiliated with Princeton with an active Rare Books and Special Collections ID card do not need to visit the Access Office.</p>
          <p><strong>What do I need to Register?</strong> Researchers unaffiliated with Princeton University (i.e. alumni and independent researchers) should pre-register by creating a Special Collections Research Account prior to visiting the Access Office. Please bring a photo ID with you to the Access Office, located on the first floor of the Firestone Library to have your Special Collections Researcher ID card printed.</p>
          <p><strong>May I create and account in advance?</strong> Yes! All researchers are encouraged to create an account online prior to their arrival. Upon arrival, new readers not affiliated with Princeton will need to visit the Access Office to obtain a Special Collections Researcher ID card before visiting the special collections reading rooms.</p>
          <h4>Requesting Materials</h4>
          <p><strong>May I request material in advance?</strong> Yes! Researchers may submit requests at any time after completing the online registration form. On-site material, however, will be paged upon arrival.</p>
          <p><strong>How many items may I request?</strong> You can request up to 50 items at a time to your Account. As soon as you have seen one item, you can request another to replace it.</p>
          <p><strong>How can I request material?</strong> Researchers can request to view items in the reading room through the Main Catalog and throught the Finding Aids.</p>
          <p><strong>Can I see a record of the items I have requested?</strong> Yes, researchers can see a record of all requested and viewed items in their Research Account</p>
          <p><strong>Can I request digitization of materials through my Research Account?</strong> No, at this time, researchers must contact the library directly via the Ask Us! form to request digitization services.</p>
          <h4>Visiting</h4>
          <p><strong>Can I visit if I am not affiliated with Princeton</strong>? Yes! Princeton University welcomes all researchers to its special collections reading rooms.</p>
          <p><strong>Where are you located?</strong> Information about our locations, parking, restaurants, and accommodations can be found on our website.</p>
          <p><strong>What are your hours?</strong> Information about our hours can be found on our website.</p>
        </div>
      </div>
    </div>
  </div>
</div>
