
.home {
  text-align: center;

  &-text {
    padding: 3.85rem;

    h2 {
      margin-bottom: 1.85rem;
    }
  }

  &-browse {
    margin-top: 0.35rem;
    margin-bottom: 1.85rem;

    .row {
      display: flex;

      .btn {
        margin-bottom: 1.35rem;
      }
    }
  }
}
.table-of-contents {
  max-height: 800px;
  min-height: 600px;
  position: relative;
  display: none;
  border-radius: 8px;
  &::-webkit-scrollbar * {
    background:transparent;
  }
  &.mm-wrapper {
    display: block;
  }
}
