
.home-text {
  p {
    font-size: 18px;
    font-weight: 200;
    line-height: 28px;
    margin-top: 1.2rem;
    margin-bottom: 2.4rem;
  }
}

.home-browse {
    .grid-items {
	display: flex;
	justify-content: center;  

	.grid-item {
	    display: inline-block;
	    text-align: center;
	    margin-left: 0.8rem;
	    margin-right: 0.8rem;

	    h1 {
		color: #494f57;
		font-size: 1.3em;
		margin-bottom: 0.4em;
		text-align: center;
	    }

	    p {
		display: block;
		margin-bottom: 2.2rem;
		font-size: 0.9rem;
		color: #777777;
		text-align: center;
	    }
	}
    }
}
