<article class="research-help-main lux">
  <heading level="h2" size="h3">Statement on Audiovisual Materials</heading>
  <text-style variation="default">
  <p>Depending on the nature and condition of the original item, digitization may be possible.
    Audiovisual digitization requests are processed by an approved third party vendor.
    Please note, the transfer time required can be as little as several weeks to as long
    as several months and there may be financial costs associated with the process.
    Please contact us using <lux-hyperlink href="https://library.princeton.edu/special-collections/ask-us">the Ask Us! form</lux-hyperlink>
    for more information.</p>
 </text-style>
</article>
