<article class="research-help-main lux">
  <lux-heading level="h2" size="h3">Statement on Audiovisual Materials</lux-heading>
  <text-style variation="default">
    <p>Depending on the nature and condition of the original item, digitization may be possible.
    Researchers may request the digitization of up to three (3) audiovisual items at one time.
    Due to the natural degradation of media formats, digitization may not be possible in all cases.
    Audiovisual digitization requests are processed by an approved third party vendor.
    Please note, the fulfillment time can be a year or more and there may be financial costs associated with the process.
    Please contact us using the form on the <lux-hyperlink href="https://library.princeton.edu/special-collections/ask-us">Ask Special Collections</lux-hyperlink> page for more information.</p>
    <p>Please review the <lux-hyperlink href="https://library.princeton.edu/about/policies/special-collections-copyright-credit-and-citation-guidelines">Copyright, Credit and Citation Guidelines</lux-hyperlink> page for more information on publishing from the collections.</p>
  </p>
 </text-style>
</article>
