<article class="research-help-main lux">
  <lux-heading level="h2" size="h3">Requesting Materials</lux-heading>
  <text-style variation="default">
    <p>After registering, researchers can submit requests online to view special
      collections material in the reading rooms. Books and other printed works
      are primarily found in the Library's <lux-hyperlink href="https://catalog.princeton.edu">Main Catalog</lux-hyperlink>.
      Manuscripts and archives are primarily cataloged in the Finding Aids.</p>

    <p>In the finding aids, navigate the records until you locate one that
      interests you. You can choose one or more item depending on the page you’re
      on by clicking the “Request this Item” button next to the shopping cart icon.
      The icon is also in the collection level list on the left-side of the page.
      When you are completely finished with your searches, you can then choose
      the “Request Items” in the “Request Cart” side panel. You will be notified when
      your items are available in one of our
      <lux-hyperlink href="https://library.princeton.edu/special-collections/visit-us">Reading Rooms</p>

 </text-style>
</article>
