<article class="research-help-main lux">
  <heading level="h2" size="h3">Creating a Research Account</heading>
  <text-style variation="default">
    <p>Researchers planning to visit Special Collections either in person or to
      use the virtual services should create a
      <a href="https://library.princeton.edu/aeon/aeon.dll?Action=10&Form=79">Special Collections Research
      Account</a> in order to access materials. With an Account, you can request materials
      and staff will be able to help you access these when you’re ready.</p>

    <p>Those affiliated with Princeton University (i.e. current students, staff,
      and faculty with an active NetID) should use the left-side form.</p>

    <p>Those not affiliated with Princeton University (i.e. Princeton alumni and
      independent researchers) should use the right-side form. If it is your first
      time registering, please choose the “First Time Users” link.</p>

    <p>All researchers will be asked to accept the departmental guidelines on
      using archival materials. After submitting the registration information,
      researchers will then be able to submit requests to view materials.</p>
 </text-style>
</article>
