
.nav.nav-tabs .nav-item .nav-link:not(.active) {
  background: inherit;
  border-color: #dee2e6;
}

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1400px
) !default;

// Make font size for access tab labels and property consistent with other tabs
#access dl dt {
  font-size: 1rem !important;
}

