/*
*= require arclight/application
*/

@import "variables/colors"; 

.al-grouped-results .al-grouped-title-bar {
  background-color: $background-gray;

  // Online content badge in grouped results
  .online-content {
    margin: 8px 0 8px 0;
  }
}

.al-grouped-title-bar a {
  color: $bleu-de-france-darker;
}

a.responsiveTruncatorToggle {
  font-size: 1rem;
}
