/*
*= require arclight/application
*/

@import "variables/colors"; 

.al-grouped-results .al-grouped-title-bar {
  background-color: $background-gray;
}

.al-grouped-title-bar h3 a {
  color: $bleu-de-france-darker;
}

a.responsiveTruncatorToggle {
  font-size: 1rem;
}
