<div class="lux feedback-container">
<heading level="h2" size="h3">Report Harmful Language</heading>
  <div class="row">
    <div class="suggest_a_correction_instructions col">
      <p>
        Princeton University Library aims to describe archival materials in a manner that is respectful to the individuals and communities who create, use, and are represented in the collections we manage. However, for a variety of reasons, users may encounter offensive or harmful language, for example, language that is racist, sexist, or homophobic, in our finding aids.
      </p>
      <p>
        Staff are currently implementing practices to address offensive or harmful language as part of routine description work. We recognize that terminology evolves over time and that efforts to create respectful and inclusive description must be ongoing. You can help us address this issue by reporting any harmful language you encounter on this site by using the form below.
      </p>
      <div id="generalFeedback">
        <div class="form-wrapper">
          <%= render partial: "catalog/correction_form", locals: { form: SuggestACorrectionForm.new(location_code: "Harmful Language Report", context: "https://findingaids.princeton.edu") } %>
        </div>
      </div>
    </div>
  </div>
</div>
