<div class="lux feedback-container">
<heading level="h2" size="h3">Suggest a Correction</heading>
  <div class="row">
    <div class="suggest_a_correction_instructions col">
      <p>
      Please use this area to report errors or omissions that appear in the
      description of this collection. Corrections may include
      <%= link_to "harmful or offensive language", "/archival_language" %>,
      misspellings, incorrect or missing dates, misidentified
      individuals, places, or events, mislabeled folders, misfiled papers, etc.
      </p>
      <div id="generalFeedback">
        <div class="form-wrapper">
          <%= render partial: "catalog/correction_form", locals: { form: SuggestACorrectionForm.new(location_code: "General", context: "https://findingaids.princeton.edu") } %>
        </div>
      </div>
    </div>
  </div>
</div>
